{% extends  "models/model-page.html" %}

{% block content %}
    <div align="center">
        <br>
        <h3>Upload arquivo</h3>
        <div class="col col-5 col-sm-5 col-md-4 col-lg-5 col-xs-4 box-gray">
            <br>
            {% for message in messages %}
                <span style="color: red;">* Erro: {{ message }}</span><br>
            {% endfor %}
            <form action="/upload/submit" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <strong>Arquivo com os atlétas:  </strong><br>
                <input type="file"  accept=".csv" name="athletes" >
                <br><br>
                <strong>Arquivo com as regiões:  </strong><br>
                <input type="file"  accept=".csv" name="regions">
                <br><br>
                <button type="submit" class="btn btn-warning btn-block">
                    Upload dos arquivos
                </button>
            </form><br>
        </div>
    </div>
{% endblock %}