{% extends  "models/model-page.html" %}

{% block content %}
    <div align="center">
        <br>
        <h3>{{title_h}}</h3>
        <div class="col col-5 col-sm-5 col-md-4 col-lg-5 col-xs-4 box-gray">
            <br>
            {% for message in messages %}
                <span style="color: red;">* Erro: {{ message }}</span><br>
            {% endfor %}
            <form action="submit" method="POST"> {% csrf_token %}
                {% if athlete == None%}
                    <div class="form-row">
                        <div class="form-group">
                            <label>Nome: </label>
                            <input type="text" name="name" maxlength="60" size="60" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Altura: </label>
                            <input type="number" name="height" value="170" min="50" max="400" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Peso: </label>
                            <input type="number" name="weight" value="70" min="50" max="200" />
                        </div>
                        <div class="form-group col-md-4">
                            <select class="form-control" name="sex" value='M'>
                                <option value="M"> Masculino </option>
                                <option value="F"> Feminino </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select class="form-control" name="team_id" value='1'>
                                {% for item in team %}
                                    <option value={{ item.id }}> Time: {{ item.noc }} Pais: {{ item.name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" name="sport_id" value='1'>
                                {% for item in sport %}
                                    <option value={{ item.id }}> {{ item.name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% else %}
                    <div class="form-row">
                        <div class="form-group">
                            <label>Nome: </label>
                            <input type="text" name="name" value="{{athlete.name}}" maxlength="60" size="60" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Altura: </label>
                            <input type="number" name="height" value="{{athlete.height}}" value="170" min="50" max="400" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Peso: </label>
                            <input type="number" name="weight" value="{{athlete.weight}}" value="70" min="50" max="200" />
                        </div>
                        <div class="form-group col-md-4">
                            <select class="form-control" name="sex" value="{{athlete.sex}}">
                                <option value="M"> Masculino </option>
                                <option value="F"> Feminino </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select class="form-control" name="team_id" value="{{athlete.team.id}}">
                                 {% for item in team %}
                                    {% if item.id == athlete.team.id %}
                                        <option value={{ item.id }} selected> Time: {{ item.noc }} Pais: {{ item.name }} </option>
                                    {% else %}
                                        <option value={{ item.id }}> Time: {{ item.noc }} Pais: {{ item.name }} </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" name="sport_id" value="{{athlete.sport.id}}">
                                {% for item in sport %}
                                    <option value={{ item.id }}> {{ item.name }} </option>
                                {% endfor %}

                                {% for item in sport %}
                                    {% if item.id == athlete.sport.id %}
                                        <option value={{ item.id }} selected> {{ item.name }} </option>
                                    {% else %}
                                        <option value={{ item.id }}> {{ item.name }} </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
                <br>
                <button class="btn btn-secondary btn-lg btn-block" type="submit">
                    {% if athlete == None%}
                        <i class="fas fa-user-plus"></i> Cadastrar
                    {% else %}
                        <i class="fas fa-user-edit"></i> Atualizar
                    {% endif %}
                </button>
            </form>
            <br>
        </div>
    </div>
{% endblock %}