{% extends  "models/model-page.html" %}

{% block content %}
    <div align="center">
        <br>
        <h3>Lista de atletas</h3>
        <div class="col col-5 col-sm-5 col-md-4 col-lg-5 col-xs-4 box-gray">
            <p>
                <i class="fas fa-exclamation"></i> Cuidado ao utilizar mais de um filtro filtros<br>
                <i class="fas fa-exclamation"></i> Filtro por idade tras atleta que participou de algum evento com essa idade
            </p>
            <br>
            <form action="submit" method="POST"> {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <label>Nome: </label>
                        <input type="text" name="name" maxlength="60" size="60" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Idade: </label>
                        <input type="number" name="age" min="18" max="60" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Altura: </label>
                        <input type="number" name="height" min="50" max="400" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Peso: </label>
                        <input type="number" name="weight" min="50" max="200" />
                    </div>
                    <div class="form-group col-md-3">
                        <select class="form-control" name="sex" value='A'>
                            <option value="A"> Sexo </option>
                            <option value="M"> Masculino </option>
                            <option value="F"> Feminino </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select class="form-control" name="team_id" value='0'>
                            <option value=0> Filtrar por equipe </option>
                            {% for item in team %}
                                <option value={{ item.id }}> Time: {{ item.noc }} Pais: {{ item.name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control" name="game_id" value='0'>
                            <option value=0> Filtrar por jogos </option>
                            {% for item in game %}
                                <option value={{ item.id }}> {{ item.year }} {{ item.season.name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select class="form-control" name="event_id" value='0'>
                            <option value=0>  Filtrar por evento </option>
                            {% for item in event %}
                                <option value={{ item.id }}> {{ item.name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control" name="sport_id" value='0'>
                            <option value=0>  Filtrar por esporte </option>
                            {% for item in sport %}
                                <option value={{ item.id }}> {{ item.name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select class="form-control" name="city_id" value='0'>
                            <option value=0>  Filtrar por cidade da competição </option>
                            {% for item in city %}
                                <option value={{ item.id }}> {{ item.name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Filtrar por medalhas:</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="gold" name="gold" value="Gold">
                            <label class="form-check-label" for="gold">Ouro</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="silver" name="silver"  value="Silver">
                            <label class="form-check-label" for="silver">Prata</label>
                        </div>
                         <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="bronze" name="bronze"  value="Bronze">
                            <label class="form-check-label" for="bronze">Bronze</label>
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-secondary btn-lg btn-block" type="submit">
                    <i class="fas fa-filter"></i> Filtrar
                </button>
            </form>
            <br>
        </div>
    </div>
{% endblock %}